@{
    ViewData["Title"] = "Paquetes T";
}

 <style>

</style>
<form action='@Url.Action("DeletePaquete","Home")'>
        <img src="/Fotos/NoTeOlvidesDelWhere.jpg" alt="NO TE OLVIDES DE PONER EL WHERE">
        @foreach (string item in ViewBag.paquete.Keys)
        {
            <h3>Paquete con destino a @item </h3> 
            string var = @item + ".jpg";
            <img src="~/Fotos/@var" alt="@item">
            <br>
            <input type="radio" id="@item" name="destino" value="@item">
            <label for="@item">@item</label>
            <br>
        }
    <input type="submit">
</form>