@{
    ViewData["Title"] = "Paquetes T";
}
    <style>
    body {
        background-image: url('/Fotos/FondoIndex.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<h1 style="color: red;">TP 04 - Paquetes Turisticos</h1>
    @{
        @foreach (string item in ViewBag.paquete.Keys)
        { 
        <h1 style="color: red;">Destino: @item</h1> 
        <h1 style="color: red;">Hotel: @ViewBag.paquete[item].Hotel Aerolinea: @ViewBag.paquete[item].Aereo Excursion: @ViewBag.paquete[item].Excursion</h1>
        <br> 
         
        }
    }
     

<a href='@Url.Action("SelectPaquete","Home")' alt="Introducir texto"> <h1>Formulario: Ingresar paquete</h1></a>
<a href='@Url.Action("DeletePaquete","Home")' alt="Introducir texto"> <h1>Formulario: Borrar paquete</h1></a>
