@{
    ViewData["Title"] = "Paquetes T";
}

<form action='@Url.Action("GuardarPaquete","Home")'>
    <div class="contenedor">
    @foreach (string item in ViewBag.destinos)
    {
        string var = @item + ".jpg";
        <h3>@item <img src="~/Fotos/@var" alt="@item"></h3> 
    }
    </div>
    <input type="number" name="Destino" min="1" max="10">
    <div class="contenedor">
    @foreach (string item in ViewBag.hoteles)
    {
        string var = @item + ".jpg";
        <img src="~/Fotos/@var" alt="@item" width="200">
    }
    </div>
    <div class="contenedor">

    </div>
    <input type="number" name="Hotel" min="1" max="10">
    @foreach (string item in ViewBag.aereos)
    {
        string var = @item + ".jpg";
        <img src="~/Fotos/@var" alt="@item" width="200">
    }
    <input type="number" name="Aereo" min="1" max="10">
    @foreach (string item in ViewBag.excursiones)
    {
        string var = @item + ".jpg";
        <img src="~/Fotos/@var" alt="@item" width="200">
    }
    <input type="number" name="Excursion" min="1" max="10">
    <input type="submit">
</form>

