@{
    ViewData["Title"] = "Paquetes T";
}

<form action='@Url.Action("GuardarPaquete","Home")'>
    <div class="contenedor">
    @{
        int contador = 1;
        @foreach (string item in ViewBag.destinos)
        {
            string var = @item + ".jpg";
            string Contado = contador +". " + @item;
            <h3>@Contado <img src="~/Fotos/@var" alt="@item"></h3> 
            contador++;
        }
    }
    </div>
    <h3>Ingrese el destino deseado   <input type="number" name="Destino" min="1" max="10"></h3> 


    <div class="contenedor">
    @foreach (string item in ViewBag.hoteles)
    {
        if (contador == 11)
        {
            contador = 1;
        }
        string var = @item + ".jpg";
        string Contado = contador +". " + @item;
            <h3>@Contado <img src="~/Fotos/@var" alt="@item"></h3> 
            contador++;
    }
    </div>
    <h3>Ingrese el hotel deseado   <input type="number" name="Hotel" min="1" max="10"></h3>


    <div class="contenedor">
    @foreach (string item in ViewBag.aereos)
    {
        if (contador == 11)
            {
            contador = 1;
            }
            string var = @item + ".jpg";
            string Contado = contador +". " + @item;
            <h3>@Contado <img src="~/Fotos/@var" alt="@item"></h3> 
            contador++;
    }
    </div>
    <h3>Ingrese la aerolinea deseada   <input type="number" name="Aereo" min="1" max="10"></h3>

    <div class="contenedor">
    @foreach (string item in ViewBag.excursiones)
    {
        if (contador == 11)
            {
            contador = 1;
            }
            string var = @item + ".jpg";
            string Contado = contador +". " + @item;
            <h3>@Contado <img src="~/Fotos/@var" alt="@item"></h3> 
            contador++;
    }
    </div>
    <h3>Ingrese la excursion que desee   <input type="number" name="Excursion" min="1" max="10"></h3>
    <input type="submit">
</form>